

opencv-python-headless
unidecode
openpyxl
cloudscraper
xlrd
eurostat
playwright
pdfplumber==0.10.2
undetected_chromedriver==3.5.
tradingeconomics==4.2.7
nltk==3.8.1
scikit-learn==1.3.0
Scrapy==2.9.0
scrapyscript
pypdf
PyMuPDF
tabula_py
camelot-py[base]
ipeadatapy
rapidfuzz
pyxlsb
PyPDF2<3.0
html5lib
